@mixin move($name, $start, $end){
    @keyframes #{$name}{
        0%{
            left: $start;
        }
        15%{
            height: 100%;
            width: 45%;
        }
        85%{
            height: 1.7rem;
            width: 1.7rem;
        }
        100%{
            left: $end;
        }
    }
}

@mixin move-message{
    @keyframes move-message{
        0%{
            right: -290px;
        }
        15%{
            right: 20px;
        }
        70%{
            opacity: 1;
            right: 20px;
        }
        100%{
            opacity: 0;
            right: -290px;
        }
    }
}

