@use 'header';
@use 'animations';
@use 'portfolio';

@mixin darker-buttons{
    button{
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }
    button:hover{
        background-color: header.$blue;
        border: none;
        color: white;
    }
}

body.dark{
    background-color: header.$dark-bg; 
    color: white;
    header{
        .circleContainer{       
            .circle{
                @include animations.move(move, 0.15rem, 2.75rem);
                animation: move 0.4s ease-in-out forwards;  
            }
        }
        nav{
            .link{
                color: white;
            }
            .active.link{
                color: header.$blue;
            }
        }
        .menu-container > *{
            path{
                fill: white;
            }
        }
    }
    .smallscreen-nav{
        background-color: darken(header.$dark-bg , 5%); 
        p{
            color: white;
            border-color: darken(header.$text-field, 35%);
        }
        .active{
            color: header.$blue;
            border-color: header.$blue;
        }
    }
    footer{
        background-color: darken(header.$dark-bg , 5%); 
    }

    #home{
        border-color: darken(header.$text-field, 35%); //
        .aboutme-info{
            border-color: darken(header.$text-field, 35%);
            @include darker-buttons;
        }
    }

    #topButton{
        background-color: header.$blue;
    }
    .project{
        .overview-image{
            box-shadow: 5px 5px 10px portfolio.$grey-darkmode;
        }
        .project-info-container{
            .project-info{
                border-color: darken(header.$text-field, 35%);
                @include darker-buttons;
            }
        }
    }
    .projectContainer{
        Button{
            border-color: white;
            color: white;
        }
        .projectDetails{
            button{
                background-color: header.$blue;
            }
        }
    }

    #contact-page{
        .contact-container{
            border-color: darken(header.$text-field, 35%);
            form{
                input, textarea{
                    background-color: header.$light-mode-text-and-footer;
                    color: white;
                }
                button{
                    background-color: header.$blue;
                }
                button:hover{
                    background-color: darken(header.$blue, 25%);
                }
            }
            .sent-message{
                background-color: header.$blue;
            }
        }
    }

}