@use 'header';

@mixin footer-media-links($width, $a-height){
    width: $width;
    display: flex;
    justify-content: space-between;
    a > *{
        height: $a-height;
    }
}
footer{
    margin-top: 5.5rem;
    @include header.HeaderAndFooter(space-between, 10rem);
    background-color: header.$light-mode-text-and-footer;
    
    .page-links{
        @include header.navBar(25rem);
        display: flex;
        // align-items: center;
        .link{
            color: white;
        }
    }
    .media-links{
        @include footer-media-links(105px, 24px);
    }
}