@use 'header';
@use 'home';

$grey-lightmode: rgb(51, 50, 61, 0.8); 
$grey-darkmode: rgba(83, 83, 83, 0.8);

// main{
//     margin-top: 2rem;
// }
.project{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    > *{
        width: 49.7%; 
        height: 600px; 
    }
    .overview-image{
        background-color: header.$bg;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        box-shadow: 5px 5px 10px 1px $grey-lightmode;
    }
    .project-info-container{
        display: flex;
        justify-content: center;
        .project-info{
            display: flex;
            flex-direction: column;
            justify-content: center;

            border-width: 2px 0;
            border-style: solid;
            border-color: header.$text-field;
            width: 65%;
            height: 100%;
            @include home.h1-p-button;
            > *{
                margin: 0;
            }
            h1{
                margin-bottom: 1.25rem;
            }
        }
    }
}
.project:nth-of-type(even){
    flex-direction: row-reverse;
}